In [1]:
import pandas as pd
df1=pd.read_csv('../data/CommentTable_test_data.csv')
df2=pd.read_csv('../data/NewsTable_test_data.csv')

In [2]:
import pymysql
import traceback

## news data

In [29]:
# News Data
try:
    conn = pymysql.connect(host='localhost',user='root',password='', db='test_db', charset='utf8')
    cur=conn.cursor()
    sql=f'''CREATE TABLE IF NOT EXISTS test2 (
        ID int NOT NULL PRIMARY KEY, DomainID int NOT NULL, MajorCategory varchar(20) NOT NULL, SubCategory varchar(20) NOT NULL,
        WritedAtDate DATE NOT NULL ,Title text NOT NULL, Article text NOT NULL, ArticleURL text NOT NULL, PhotoURL text NOT NULL, 
        Writer varchar(20) NOT NULL, StickerCount TEXT NOT NULL
    )'''
    cur.execute(sql)
    conn.commit()
    print('테이블 생성 성공')

except Exception as e:
    print('테이블 생성 실패',e)

테이블 생성 성공

In [ ]:
# News Data
try:
    conn = pymysql.connect(host='localhost',user='root',password='', db='test_db', charset='utf8')
    cur=conn.cursor()
    sql=f'''CREATE TABLE IF NOT EXISTS {table} (
        ID int NOT NULL PRIMARY KEY, DomainID int NOT NULL, MajorCategory varchar(20) NOT NULL, SubCategory varchar(20) NOT NULL,
        WritedAtDate DATE NOT NULL ,Title text NOT NULL, Article text NOT NULL, ArticleURL text NOT NULL, PhotoURL text NOT NULL, 
        Writer varchar(20) NOT NULL, StickerCount TEXT NOT NULL
    )'''
    cur.execute(sql)
    conn.commit()
    print('테이블 생성 성공')

except Exception as e:
    print('테이블 생성 실패',e)

In [30]:
def insert(table:str, columns: str, value: list) -> bool:
    
    sql_qr = f"INSERT INTO {table}({columns}) " \
                "VALUES (" +','.join(["%s"]*len(value[0])) +")"
    print('!!!',sql_qr)
    try:
        with conn.cursor() as cur:
            cur.executemany(sql_qr, value)
            conn.commit()
        return True
    except:
        traceback.print_exc()
        return False

In [31]:
table='test2'
value=list(df2.itertuples(index=False, name=None))
col = ','.join(c for c in df2.columns)
insert(table,col,value)

!!! INSERT INTO test2(ID,DomainID,MajorCategory,SubCategory,WritedAtDate,Title,Article,ArticleURL,PhotoURL,Writer,StickerCount) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

True

## comment data

In [34]:
# comment Data
try:
    conn = pymysql.connect(host='localhost',user='root',password='', db='test_db', charset='utf8')
    cur=conn.cursor()
    sql= '''CREATE TABLE IF NOT EXISTS test_comment (
        ID int NOT NULL PRIMARY KEY, NewsID int NOT NULL, UserID int NOT NULL, CommentDate DATE NOT NULL,
        CommentContent text NOT NULL 
        )'''
    cur.execute(sql)
    conn.commit()
    print('테이블 생성 성공')

except Exception as e:
    print('테이블 생성 실패',e)

테이블 생성 성공

In [36]:
table='test_comment'
value=list(df1.itertuples(index=False, name=None))
col = ','.join(c for c in df1.columns)
insert(table,col,value)

!!! INSERT INTO test_comment(ID,NewsID,UserID,CommentDate,CommentContent) VALUES (%s,%s,%s,%s,%s)

True

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../data/krx/main.csv',index_col=None,dtype={'code':object,'name':object,'market':int})

In [3]:
df

        code     name market
0     095570   AJ네트웍스      0
1     006840    AK홀딩스      0
2     027410      BGF      0
3     282330   BGF리테일      0
4     138930  BNK금융지주      0
...      ...      ...    ...
2553  024060     흥구석유      1
2554  010240       흥국      1
2555  189980   흥국에프엔비      1
2556  037440       희림      1
2557  238490       힘스      1

[2558 rows x 3 columns]

In [4]:
df.drop_duplicates(subset='URL',inplace=True)

KeyError: Index(['URL'], dtype='object')

In [5]:
df

        code     name market
0     095570   AJ네트웍스      0
1     006840    AK홀딩스      0
2     027410      BGF      0
3     282330   BGF리테일      0
4     138930  BNK금융지주      0
...      ...      ...    ...
2553  024060     흥구석유      1
2554  010240       흥국      1
2555  189980   흥국에프엔비      1
2556  037440       희림      1
2557  238490       힘스      1

[2558 rows x 3 columns]